*/.settings
*/.project
*/.classpath
*/.scala_dependencies
*tempViewerHTML.html
flink-as3/bin/main/*.swc
flink-as3/bin/test/*
bin/*.swf
bin/*.zip
bin_test/*.swf
docs/*
target/
lib_managed/
src_managed/
project/boot/
flink-ant-tasks/build/classes/
flink-ant-tasks/build/lib/